<h1> Edit workout </h1>

<form class="" action="/workouts/<%=@workout.id%>/edit" method="post">
    <input type="submit" value="Update workout">
    <label for="Name">Name: </label>
    <input id="Name" type="text" name="name" value ="<%=@workout.name%>" >
</form>

<hr>


<form class="" action="/workouts/<%=@workout.id%>/add_activity" method="post">
    <label for="exercise">Add exercise: </label>
    <select id="exercise" name="exercise">
        <%for exercise in @exercises%>
            <option value="<%=exercise.id%>"><%=exercise.name%></option>
        <%end%>
    </select>  
</form>

<hr>


<%for activity in @workout.activities()%>
    
    <ul>
        <li>Name: <%=activity.exercise.name %> </li> 
        <li>Reps: <%=activity.exercise.reps%> </li>
        <li>Sets: <%=activity.exercise.sets%> </li>
        <li>Notes: <%=activity.exercise.notes%> </li>

    </ul>
    
    <form class="" action="/workouts/<%=@workout.id%>/delete_activity" method="post">
    <input type="submit" value="Remove exercise">

    </form>
    
    <hr>

<%end%>


<form class="" action="/workouts/<%=@workout.id %>/delete" method="post">
  <input type="submit" value="Delete workout">
</form>
