<h1>Workout results for:  <%=@workout.name%></h1>
<img src="<%=@result_icons[@workout.overall_result]%>">

    <hr>

    <%for activity in @workout.activities()%>
        
        <ul>
            <li>Name: <%=activity.exercise.name %> </li> 
            <li>Reps: <%=activity.exercise.reps%> </li>
            <li>Sets: <%=activity.exercise.sets%> </li>
            <li>Notes: <%=activity.exercise.notes%> </li>
            <li><img src="<%=@result_icons[activity.result]%>"></li>


        </ul>
    
        <hr>

    <%end%>


</form>

