<h1><img src="<%=@result_icons[@workout.overall_result]%>"> workout result for: <%=@workout.name%></h1> 
<p>date: <%=@workout.date%> </p>

    <%for activity in @workout.activities()%>
        <table>        
            <tr><td><img src="<%=@result_icons[activity.result]%>"> <%=activity.exercise().name %> </td> </tr> 
            <tr><td>reps: <%=activity.exercise().reps%> Sets: <%=activity.exercise().sets%></td> </tr>
            <tr><td>notes: <%=activity.exercise().notes%></td> </tr>
        <table>        
    

    <%end%>


</form>

