<h2 class ="centered-p"> Workout result for: <%=@workout.name%></h2> 
<h2 class ="centered-p">Date: <%=@workout.date%> </h2>
<p class="centered-p"><img src="<%=@result_icons[@workout.overall_result]%>"></p>

<table>
  
    <tr>
        <th>Exercise</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Result</th>
    </tr>     

    <%for activity in @workout.activities()%>
            

        <tr>
            <td><div><%=activity.exercise().name%></div><div class="notes"><%=activity.exercise().notes%></div> </td>
            <td><%=activity.exercise().reps%></td>
            <td><%=activity.exercise().sets%></td>
            <td><img src="<%=@result_icons[activity.result]%>"> </td>
            
        </tr>

    

    <%end%>

<table>        

</form>

