<h1>Workout results for:  <%=@workout.name%></h1>
<p>Date: <%=@workout.date%></p>
<img src="<%=@result_icons[@workout.overall_result]%>">

    <hr>

    <%for activity in @workout.activities()%>
        <table>        
            <tr><td>Name: <%=activity.exercise().name %> <img src="<%=@result_icons[activity.result]%>"></td> </tr> 
            <tr><td>Reps: <%=activity.exercise().reps%> Sets: <%=activity.exercise().sets%></td> </tr>
            <tr><td>Notes: <%=activity.exercise().notes%></td> </tr>
        <table>        
    
        <hr>

    <%end%>


</form>

