<h1>Run workout <%=@workout.name%></h1>

<form class="" action="/" method="post">

    <hr>

    <%for activity in @workout.activities()%>
        
        <table>
            <tr><td>Name: <%=activity.exercise().name %> </td></tr>
            <tr><td>Reps: <%=activity.exercise().reps%> Sets: <%=activity.exercise().sets%> </td></tr>
            <tr><td>Notes: <%=activity.exercise().notes%> </td></tr>
        </table>
        
        <label for="result">How was the exercise</label>
        <select id="result" name="activityresult_<%=activity.id%>">
            <option value="0">Didn't do it</option>
            <option value="1">Really struggled</option>
            <option value="2">Struggled towards the end</option>
            <option value="3">Completed easily</option>
        </select>    
        
        <hr>

    <%end%>

    <input type="hidden" name="id" value="<%=@workout.id%>" />
    <input type='submit' value="Complete workout"/>

</form>

