<h1>run workout: <%=@workout.name%></h1> 
<p>date <%=@workout.date%></p>

<form class="" action="/" method="post">


    <%for activity in @workout.activities()%>
        
        <table>
            <tr><td>name: <%=activity.exercise().name %> </td></tr>
            <tr><td>reps: <%=activity.exercise().reps%> Sets: <%=activity.exercise().sets%> </td></tr>
            <tr><td>notes: <%=activity.exercise().notes%> </td></tr>
        </table>
        
        <label for="result">How was the exercise</label>
        <select id="result" name="activityresult_<%=activity.id%>">
            <option value="0">Didn't do it</option>
            <option value="1">Really struggled</option>
            <option value="2">Struggled towards the end</option>
            <option value="3">Seemed fine</option>
        </select>    
        

    <%end%>

    <input type="hidden" name="id" value="<%=@workout.id%>" />
    <p><input type='submit' value="Complete workout"/></p>

</form>

