<h1>run workout: <%=@workout.name%></h1> 
<p>date <%=@workout.date%></p>

<form class="" action="/" method="post">


   
        <table>        
            <tr>
                <th>exercise</th>
                <th>sets</th>
                <th>reps</th>
                <th>how was it?</th>
            </tr>  


    <%for activity in @workout.activities()%>
     

                <tr>
                    <td><div><%=activity.exercise().name%></div><div class="notes"><%=activity.exercise().notes%></div></td>
                    <td><%=activity.exercise().reps%></td>
                    <td><%=activity.exercise().sets%></td>
                    <td>
                        <select id="result" name="activityresult_<%=activity.id%>">
                            <option value="0">Didn't do it</option>
                            <option value="1">Really struggled</option>
                            <option value="2">Hard at the end<option>
                            <option value="3">Seemed fine</option>
                        </select>    
                    </td>
                </tr>


       

    <%end%>


</table>

    <input type="hidden" name="id" value="<%=@workout.id%>" />
    <p><input type='submit' value="Complete workout"/></p>

</form>

