
<p class="centered-p">running workout... </p>
<p class="centered-p">name: <%=@workout.name%></p>
<p class="centered-p">date: <%=@workout.date%></p>

<br>

<form class="" action="/" method="post">

        <table>        
            <tr>
                <th>exercise</th>
                <th>sets</th>
                <th>reps</th>
                <th>how was it?</th>
            </tr>  


    <%for activity in @workout.activities()%>
    
                <tr>
                    <td><div><%=activity.exercise().name%></div><div class="notes"><%=activity.exercise().notes%></div></td>
                    <td><%=activity.exercise().reps%></td>
                    <td><%=activity.exercise().sets%></td>
                    <td>
                        <select id="result" name="activityresult_<%=activity.id%>">
                            <option value="0">Didn't do it</option>
                            <option value="1">Really struggled</option>
                            <option value="2">Hard at the end</option>
                            <option value="3">Seemed fine</option>
                        </select>    
                    </td>
                </tr>
    <%end%>


</table>

<br>

    <input type="hidden" name="id" value="<%=@workout.id%>" />
    <input class="complete-workout-button" type='submit' value="Complete workout"/>

</form>

