<h1> Show workout </h1>

<p>Name: <%=@workout.name%></p>
<p>Date: <%=@workout.date%></p>


<a href="/workouts/<%=@workout.id%>/edit"><button type="button" name="edit">Edit workout</button></a>

<form class="" action="/workouts/<%=@workout.id %>/delete" method="get">
  <input type="submit" value="Delete workout">
</form>

<hr>

<%for exercise in @exercises%>
    <table>        
        <tr><td>Name: <%=exercise.name %> </td> </tr> 
        <tr><td>Reps: <%=exercise.reps%> Sets: <%=exercise.sets%></td> </tr>
        <tr><td>Notes: <%=exercise.notes%></td> </tr>
    </table>
    <hr>
<%end%>


