
<p class="centered-p">workout: <%=@workout.name%></p>
<p class="centered-p">target date: <%=@workout.date%></p>

<br>

<table>        
    <tr>
        <th>exercise</th>
        <th>sets</th>
        <th>reps</th>
    </tr>  

    <%for exercise in @exercises%>
        <tr>
            <td><div><%=exercise.name%></div><div class="notes"><%=exercise.notes%></div> </td>
            <td><%=exercise.reps%></td>
            <td><%=exercise.sets%></td>
        </tr>
    <%end%>

</table>

<br>

<form class="delete-buttons" action="/workouts/<%=@workout.id %>/delete" method="get">
  <input type="submit" value="delete workout">
</form>

<form class="edit-workout-button" action="/workouts/<%=@workout.id%>/edit" method="get">
  <input type="submit" value="edit workout">
</form>


