<h1> workout details </h1>
<p>workout: <%=@workout.name%>
<p>target date: <%=@workout.date%></p>

<a href="/workouts/<%=@workout.id%>/edit"><button type="button" name="edit">edit workout</button></a>

<form class="" action="/workouts/<%=@workout.id %>/delete" method="get">
  <input type="submit" value="delete workout">
</form>

<table>        
    <tr>
        <th>exercise</th>
        <th>sets</th>
        <th>reps</th>
    </tr>  

    <%for exercise in @exercises%>
        <tr>
            <td><div><%=exercise.name%></div><div class="notes"><%=exercise.notes%></div> </td>
            <td><%=exercise.reps%></td>
            <td><%=exercise.sets%></td>
        </tr>
    <%end%>

</table>

