<h1> add exercises to your workout </h1>

<form class="" action="/workouts/<%=@workout.id%>/add_activity" method="post">
    <select id="exercise-id" name="exercise_id">
        <%for exercise in @exercises%>
            <option value="<%=exercise.id%>"><%=exercise.name%></option>
        <%end%>
    </select>  
    <input type="submit" value="add exercise">

</form>


<table>
  
    <tr>
        <th>exercise</th>
        <th>sets</th>
        <th>reps</th>
        <th></th>
    </tr>     

    <%for activity in @workout.activities()%>
            
        <tr>
            <td><div><%=activity.exercise().name%></div><div class="notes"><%=activity.exercise().notes%></div> </td>
            <td><%=activity.exercise().reps%></td>
            <td><%=activity.exercise().sets%></td>
            <td>
                <form class="delete-buttons" action="/workouts/<%=@workout.id%>/delete_activity" method="post">
                    <input type="hidden" name="activity_id" value="<%=activity.id%>"/>
                    <input type="submit" value="Remove exercise">
                </form>
            </td>
        </tr>    

    <%end%>

</table> 


<form class="" action="/workouts/<%=@workout.id%>" method="get">
    <input type="submit" value="view workout">
</form>


