<h1> add some exercises to your workout </h1>

<form class="" action="/workouts/<%=@workout.id%>/add_activity" method="post">
    <select id="exercise-id" name="exercise_id">
        <%for exercise in @exercises%>
            <option value="<%=exercise.id%>"><%=exercise.name%></option>
        <%end%>
    </select>  
    <input type="submit" value="add exercise">

</form>



<%for activity in @workout.activities()%>
    
    <table>        
        <tr><td>Name: <%=activity.exercise().name %> </td> </tr> 
        <tr><td>Reps: <%=activity.exercise().reps%> Sets: <%=activity.exercise().sets%></td> </tr>
        <tr><td>Notes: <%=activity.exercise().notes%></td> </tr>
    </table>
    
    <form class="" action="/workouts/<%=@workout.id%>/delete_activity" method="post">
        <input type="hidden" name="activity_id" value="<%=activity.id%>"/>
        <input type="submit" value="Remove exercise">
    </form>
    
<%end%>

<a href="/workouts/<%=@workout.id%>"><button type="button" name="finish">View workout</button></a>
