<form class="create-buttons"action="/workouts/create" method="get">
    <input type="submit" value="create workout">    
</form>

<table class="overview">
    <tr>
        <th>name</th>
        <th>target date</th>
        <th></th>
        <th></th>
    </tr>
    
<%for workout in @future_workouts%>

    <tr>
        <td><%=workout.name%></td>
        <td> <%=workout.date%></td>
        <td><form action="/workouts/<%=workout.id%>" method="get">
                <input type="submit" value="view details">    
            </form>
        </td>
        <%= "<td> </td>" if Date.today().to_s != workout.date%>
        
        <%if Date.today().to_s == workout.date%>
            <td>
                <form class="run-buttons" action="/workouts/<%=workout.id%>/run" method="get">
                    <input type="submit" value="run">    
                </form>            
        <%end%>
    </tr>
<%end%>

</table>