
<%if @exercise.activities().count != 0%>
    <p class="warning">Warning: the exercise is associated with at least one workout. Updating will update the exercise in all associated past and present workouts.</p>
<%end%>

<form class="" action="/exercises/<%=@exercise.id%>/edit" method="post">
    

    <label for="Name">name:</label>
    <input id="Name" type="text" name="name" value ="<%=@exercise.name%>" >

    <label for="Sets">sets:</label>
    <input id="Sets" type="number" name="sets" value ="<%=@exercise.sets%>">

    <label for="Reps">reps:</label>
    <input id="Reps" type="number" name="reps" value ="<%=@exercise.reps%>">

    <label for="Notes">notes:</label>

    <input id="Notes" type="text" name="notes" value ="<%=@exercise.notes%>">

    <input type="submit" value="update exercise">

</form>