<h2>Editing exercise</h2>
<%if @exercise.activities().count != 0%>
    <p class="warning">Warning: the exercise is associated with at least one workout. Updating will update the exercise in all associated past and present workouts.</p>
    
<%end%>

<form class="input-block" action="/exercises/<%=@exercise.id%>/edit" method="post">
    
    <label for="Name">Name:</label>
    <input id="Name" type="text" name="name" value ="<%=@exercise.name%>" >

    <label for="Sets">Sets:</label>
    <input id="Sets" type="number" name="sets" value ="<%=@exercise.sets%>">

    <label for="Reps">Reps:</label>
    <input id="Reps" type="number" name="reps" value ="<%=@exercise.reps%>">

    <p><label for="Notes">Notes:</label><p>
    <textarea class="input-notes" id="Notes" name="notes"><%=@exercise.notes%></textarea>
    
    <p><input type="submit" value="Update exercise"></p>

</form>