<h1 class="exercises-index-h1"> exercises </h1>


<form class="create-buttons" action="/exercises/new" method="get">
  <input type="submit" value="create exercise">
</form>

<table class="exercise">
    <tr>
        <th>exercise</th>
        <th>reps</th>
        <th>sets</th>
        <th></th>
        <th></th>
    </tr>

<%for exercise in @all_exercises%>
    <tr>
        <td><div><%=exercise.name%></div><div class="notes"><%=exercise.notes%></div> </td>
        <td><%=exercise.reps%></td>
        <td><%=exercise.sets%></td>
        <td>
            <form class="" action="/exercises/<%=exercise.id%>/edit" method="get">
                <input type="submit" value="edit">
            </form>
        </td>
        <%if exercise.activities().count == 0%>
            <td>
            <form class="delete-confirm-button" action="/exercises/<%=exercise.id%>/delete" method="get">
                <input type="submit" value="delete">
            </form>
        <%else%>
            <td></td>
        <%end%>
    </tr>
    
<%end%>

</table>