<h1> exercises </h1>

<a href="/exercises/new"><button type="button" name="new-exercise">create exercise</button></a>

<table class="exercise">
    <tr>
        <th>exercise</th>
        <th>reps</th>
        <th>sets</th>
        <th></th>
        <th></th>


    </tr>

<%for exercise in @all_exercises%>
    <tr>
        <td><div><%=exercise.name%></div><div class="notes"><%=exercise.notes%></div> </td>
        <td><%=exercise.reps%></td>
        <td><%=exercise.sets%></td>
        <td><a href="/exercises/<%=exercise.id%>/edit"><button type="button" name="edit">edit</button></a></td>
        <%if exercise.activities().count == 0%>
            <td><a href="/exercises/<%=exercise.id%>/delete"><button type="button" name="delete">delete</button></a></td>
        <%else%>
            <td></td>
        <%end%>
    </tr>
    
<%end%>

</table>