
<h2 class="centered-p">Running workout... </h2>
<h2 class="centered-p">Workout: <%=@workout.name%></h2>
<h2 class="centered-p">Date: <%=@workout.date%></h2>

<br>

<form class="" action="/run" method="post">

        <table>        
            <tr>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>How was it?</th>
            </tr>  


    <%for activity in @workout.activities()%>
    
                <tr>
                    <td><div><%=activity.exercise().name%></div><div class="notes"><%=activity.exercise().notes%></div></td>
                    <td><%=activity.exercise().reps%></td>
                    <td><%=activity.exercise().sets%></td>
                    <td>
                        <select id="result" name="activityresult_<%=activity.id%>">
                            <option value="0" <%= " selected" if @activity_results != nil && @activity_results["activityresult_" + activity.id] == "0" %>>Didn't do it</option>
                            <option value="1" <%= " selected" if @activity_results != nil && @activity_results["activityresult_" + activity.id] == "1" %>>Really struggled</option>
                            <option value="2" <%= " selected" if @activity_results != nil && @activity_results["activityresult_" + activity.id] == "2" %>>Hard at the end</option>
                            <option value="3" <%= " selected" if @activity_results != nil && @activity_results["activityresult_" + activity.id] == "3" %>>Seemed fine</option> 
                        </select>    
                    </td>
                </tr>
    <%end%>


</table>

<br>

    <input type="hidden" name="id" value="<%=@workout.id%>" />
    <input class="complete-workout-button" type='submit' value="Complete workout"/>

</form>

