
<h2 class="centered-p">Workout: <%=@workout.name%></h2>
<h2 class="centered-p">Target date: <%=@workout.date%></h2>

<br>

<table>        
    <tr>
        <th>Exercise</th>
        <th>Sets</th>
        <th>Reps</th>
    </tr>  

    <%for exercise in @exercises%>
        <tr>
            <td><div><%=exercise.name%></div><div class="notes"><%=exercise.notes%></div> </td>
            <td><%=exercise.reps%></td>
            <td><%=exercise.sets%></td>
        </tr>
    <%end%>

</table>

<br>

<form class="delete-buttons" action="/workouts/<%=@workout.id %>/delete" method="get">
  <input type="submit" value="Delete workout">
</form>

<form class="edit-workout-button" action="/workouts/<%=@workout.id%>/edit" method="get">
  <input type="submit" value="Edit workout">
</form>


